/* boards.css, for rendering the different boards. */

#layer-selection {
  flex: 0 0 content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  margin-bottom: 4px;
  width: 100%;
  height: 30px;
}

#layer-selection .layer {
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  cursor: pointer;
}

#layer-selection .layer.selected {
  background-color: #333;
  color: #e5e5e5;
}


#layer-selection .fill {
  flex: 1 1 auto;
}

#mainbody {
  position: relative;
  width: 100%;
  height: 100%;
}

#topboard {
  width: 100%;
  border-bottom: 1px solid black;
  overflow: auto;
  min-height: 40vh;
}

#mainboard-container {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#mainboard-box {
  display: block;
  max-width: 100vw;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#mainboard {
  position: relative;
}

#main-selection {
  display: flex;
  flex-flow: row;
}

.main-select {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.main-select.active {
  background-color: yellow;
}

#combo-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.combo-group {
  display: flex;
  flex-flow: row;
  margin-left: 20px;
  flex: 5 5 content;
}

/* The sample boards at the bottom. */

/* Keyboard display for keymap bindings. */
#key-selection {
  flex: 0 0 content;
  background-color: #fff;
}

#allboards {
  display: block;
  flex: 1 1 content;
  background-color: #fff;
  width: 100%;
  overflow: auto;
}

.board-map {
  min-width: 800px;
  position: relative;
  padding: 4px;
  margin-bottom: 4.50px;
}

.kb-board-mods {
  position: relative;
  display: flex;
  flex-flow: row;
  width: 100%;
  margin-bottom: 6px;
}

#board-selection {
  flex: 0 0 content;
  height: 40px;
  margin-left: 1em;
  display: flex;
  flex-flow: row;
  padding: 4px;
  width: 100%;
}

.board-sel {
  cursor: pointer;
  flex: 4 0 content;
  padding: 5px;
  border: 2px solid #bbb;
  border-radius: 3px;
  margin-left: 4px;
  background-color: #ddd;
  color: black;
  font-size: 8pt;
}

.board-sel-unusual {
  cursor: pointer;
  flex: 4 0 content;
  padding: 5px;
  border: 2px solid #bbb;
  border-radius: 3px;
  margin-left: 4px;
  background-color: #bbb;
  color: black;
  font-size: 8pt;
}

.board-sel:hover {
  background-color: #ffd;
}

.board-sel.active {
  background-color: #ddf;
}

.board-sel-end {
  flex: 1 1 auto;
}

.layer-list-head {
  display: inline-block;
}

/* Key Override table */

#keyoverride-table {
  table-layout: fixed;
  margin: 0em 0em 5em 1em;
}

.ko-row .key {
  border: 1px solid black;
  width: 30px;
}

.ko-row.odd {
  background-color: #ddf;
}

.ko-row.even {
  background-color: #eee;
}

.ko-row.changed {
  background-color: #dfd !important;
}

.ko-mod-row {
  display: flex;
  flex-flow: row;
}

.ko-layer-td {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 160px;
}

.ko-layer-td div {
  width: 20px;
  margin: 2px;
}

.ko-option-td {
  width: 330px;
}

.ko-option-td div {
  width: 100px;
  margin: 2px;
}

.ko-toggle {
  display: inline-block;
  font-size: 10px;
  border: 1px solid black;
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
}

.ko-toggle.checked {
  background-color: #aaf;
}

.ko-mod-row .ko-toggle {
  width: 40px;
}

.ko-toggle.checked {
  background-color: #ccf;
}

/* QMK Settings and tabs */
#float-qmksettings {
  width: 80vw;
  height: 80vh;
  overflow: auto;
}

.qmk-head {
  display: flex;
  flex-flow: row;
}

.qmk-tab {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
}

.qmk-tab.selected {
  background-color: #ddf;
}

.qmk-body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.qmk-tab-contents {
  display: none;
}

.qmk-field {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.qmk-field.changed {
  background-color: #dfd !important;
}

.qmk-field:nth-child(odd) {
  background-color: #ddd;
}

.qmk-field-name {
  flex: 2 2 auto;
  width: 420px;
  text-align: left;
}

.qmk-field-option {
  flex: 1 1 content;
  margin-left: 20px;
  width: 100px;
  text-align: left;
}
