/* boards.css, for rendering the different boards. */

#layer-selection {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  margin-bottom: 4px;
  width: 100%;
}

#layer-selection .layer {
  white-space: nowrap;
  background-color: #e5e5e5;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  cursor: pointer;
}

#layer-selection .layer.selected {
  background-color: #333;
  color: #e5e5e5;
}


#layer-selection .fill {
  flex: 1 1 auto;
}

#main {
  flex: 4 4 auto;
  height: 50%;
  overflow: auto;
}

#mainboard-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#mainboard {
  position: relative;
}

#main-selection {
  display: flex;
  flex-flow: row;
}

.main-select {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.main-select.active {
  background-color: yellow;
}

#combo-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.combo-group {
  display: flex;
  flex-flow: row;
  margin-left: 20px;
  flex: 5 5 content;
}

/* The sample boards at the bottom. */
.board-map {
  position: relative;
  padding: 4px;
  width: 100%;
  margin-bottom: 4.5vw;
}

#board-selection {
  position: absolute;
  bottom: 5px;
  height: 4vw;
  margin-left: 1em;
  display: flex;
  flex-flow: row;
  padding: 4px;
  width: 100%;
  overflow: auto;
}

.board-sel {
  cursor: pointer;
  flex: 4 0 content;
  padding: 0.2em;
  border: 2px solid #bbb;
  border-radius: 3px;
  margin-left: 4px;
  background-color: #ddd;
  color: black;
  font-size: 8pt;
}

.board-sel.active {
  background-color: #ddf;
}

.board-sel-end {
  flex: 1 1 auto;
}

