/* About app - and help.  */

#about {
  position: absolute;
  z-index: 500;
  top: 5em;
  left: 5em;
  width: 80%;
  max-width: 40em;
  text-wrap: auto;
  display: inline-block;
  padding: 0.5em 1em 1em 1em;
  border: 5px solid #363;
  background-color: #eee;
  overflow-y: scroll;
}

#about .toggle-about {
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  top: 0.5em;
  right: 1em;
  color: blue;
}

#about section {
  margin-left: 1em;
  background-color: #ddd;
  padding: 0.7em 1em 1em 1em;
}

#about section p {
  text-indent: 2em;
}

#about section .toggler {
  display: inline-block;
  float: right;
  color: blue;
  cursor: pointer;
}

#about p code {
  background-color: #bbb;
  color: #33f;
  padding: 3px;
}

#about label {
  color: #ff8c00;
  font-weight: bold;
  cursor: pointer;
}

/* Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: #000;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown-content > label {
  padding: 5px;
  cursor: pointer;
  display: block;
  min-width: 100px;
}

#menu-top .dropdown-content > label {
  min-width: 300px;
}

.dropdown-content > label:hover {
  background-color: #dfd;
}

.dropdown-content .dropdown-content {
  position: absolute;
  margin-left: 60px;
}

.dropup {
  position: absolute;
  bottom: 20px;
}

.connect-enable {
  color: #ccc;
}

/* Context menu */
.context-menu {
  display: none;
  position: fixed;
  border: 1px solid black;
  background-color: #ffc;
  border-radius: 2px;
}

.context-menu.show {
  display: block;
}

.context-menu:hover {
  display: block;
}

.context-menu > label {
  padding: 5px;
  cursor: pointer;
  display: block;
  min-width: 100px;
}

.context-menu > label:hover {
  background-color: #dfd;
}

/* Floaters that go over everything else. */

.floater {
  background-color: #f3f3f3;
  border: 2px solid black;
  padding: 10px;
  display: none;
  position: fixed;
  top: 4em;
  left: 4em;
  max-width: 80%;
  flex-shrink: 1;
  min-height: 5vh;
  height: 20%;
  max-height: 80vh;
  z-index: 1000;
  flex-flow: column;
}

#float-tapdance {
  height: 280px;
}

#float-macro-render {
  margin-top: 18px;
}

#float-matrix-tester {
  min-width: 90%;
  min-height: 70%;
}

/* Floater buttons */
.button-row {
  flex: 0 0 content;
  display: flex;
  height: 26px;
  width: 100%;
}

.button-row button {
  flex: 0 0 content;
  padding: 3px;
  margin-right: 0.5em;
}

div.fill {
  flex: 1 1 auto;
}
