/* keys.css, styles for boards and keys. */

.kbdesc {
  min-width: 30px;
  max-width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  line-height: normal;
  white-space: pre;
}

.key {
  --key-border-radius: 4px;
  position: relative;
  background-color: #e5e5e5;
  border-radius: var(--key-border-radius);
  height: 30px;
  min-width: 30px;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 60%;
  cursor: pointer;
  text-align: center;
  line-height: normal;
  white-space: pre;
}

.key.changed {
  background-color: #dfd;
}

.key:hover {
  background-color: #ffd;
}

.key.active {
  background-color: #fdd;
}

/* kb-mods: the modifier keys. Instead of clicking ctrl in the keyboard to have
 * ctrl+tab be a key, then enable Ctrl modifier and click tab, to get LCTR(KC_TAB)
 */
.kb-mods {
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  min-width: 20em;
  width: 40%;
}

.key-mod {
  background-color: #dff;
  white-space: normal;
}

.key-mod.selected {
  background-color: tan;
}

.key-macro {
  width: 60px;
  overflow-x: hidden;
  text-justify: left;
}

.macro-action {
  min-width: 64px;
  text-align: middle;
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  border-radius: 3px;
}

.key-down { background-color: #fdd; }
.key-tap { background-color: #ddf; }
.key-up { background-color: #dfd; }

/* Styles for individual types of keys, for better visual separation.
 * e.g: a key that triggers a layer has a span.key-layer.
 */

.key-layer {
  position: absolute;
  background-color: #F6EACB;
  inset: 0;
  border-radius: var(--key-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-layer-mo {
  font-style: italic;
  font-weight: bold;
  color: green;
}

/* Keyboard display for keymap bindings. */
#key-selection {
  background-color: #ccc;
  flex: 6;
}

.board-map {
  position: relative;
  padding: 4px;
  width: 100%;
}

#board-selection {
  margin-left: 1em;
  display: flex;
  flex-flow: row;
  padding: 4px;
  width: 100%;
  overflow: auto;
}

.board-sel {
  flex: 0 0 content;
  padding: 0.2em;
  border: 2px solid #bbb;
  border-radius: 3px;
  margin-left: 4px;
  background-color: #ddd;
  color: black;
  font-size: 8pt;
}

.board-sel.selected {
  background-color: #ddf;
}

.board-sel-end {
  flex: 1 1 auto;
}

/* A 'keyboard' rendering consists of:
 *
 * A kb-board: a row of kb-groups.
 * Each group is a different section.
 * Each group has many kb-rows
 * Each kb-row has many kb-keys.
 *
 * e.g: qwerty has three .kb-group:
 *
 * 1) Keyboard with the letter keys.
 * 2) Special keys: arrow keys, printscreen, ins/home/etc
 * 3) Numpad keys.
 */
.kb-board {
  height: 100%;
  display: flex;
  flex-flow: row;
  width: 100%;
}

.kb-group {
  margin-left: 1em;
  margin-right: 1em;
}

.kb-row {
  height: 40px;
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
}

.kb-row-wrap {
  flex-wrap: wrap;
}

.kb-key { flex: 1 1 auto; }
.kb-blank { flex: 1 1 auto; }

/* These are for relative key sizes. e.g: spacebar is the width of 8 normal
 * keys. */
.extra-large {
  flex: 3 3 auto;
}

.spacebar {
  flex: 8 8 auto;
}

.large {
  flex: 2 2 auto;
}

.medium {
  flex: 1.5 1.5 auto;
}

.small {
  flex: 0.75 0.75 auto;
}

#macro-board {
  width: 100%;
}
