/* Scaffolding - the large sections of the page. */

/* Basic UI elements */
body {
  cursor: pointer;
  font-size: 110%;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/* The header - title, menu choices, etc. */
#head {
  flex: 0 0 content;
  border-bottom: 2px solid black;
  width: 90%;
  display: flex;
  flex-flow: column;
}

#topbar {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row;
}

#topbar #title {
  cursor: pointer;
  flex: 0 0 content;
  display: inline-block;
  margin-right: 1em;
  font-size: 100%;
  font-weight: bold;
  height: 100%;
  color: #ff8c00;
  text-stroke: 1px #cc5900;
  -webkit-text-stroke: 1px #cc5900;
  -webkit-text-fill-color: #ff8c00;
}

#topbar #title #qmark {
  font-weight: bold;
  bottom: 0.5em;
  right: 1em;
  font-size: 50%;
  -webkit-text-stroke: 0px blue;
  -webkit-text-fill-color: blue;
}

#topbar .link {
  position: relative;
  flex: 0 0 content;
  display: inline-block;
  height: 100%;
  font-size: 88%;
  bottom: 0px;
}

#topbar div {
  position: relative;
  bottom: 0;
  margin-right: 2em;
  bottom: 0;
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

#topbar-filler {
  flex: 1 1 auto;
}

/* About: the main config and description menu */
#about {
  position: absolute;
  z-index: 1000;
  top: 5em;
  left: 5em;
  width: 80vw;
  max-width: 40em;
  text-wrap: auto;
  display: inline-block;
  padding: 0.5em 1em 1em 1em;
  border: 5px solid #363;
  background-color: #eee;
  overflow-y: scroll;
}

#about .toggle-about {
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  top: 0.5em;
  right: 1em;
  color: blue;
}

#about section {
  margin-left: 1em;
  background-color: #ddd;
  padding: 0.7em 1em 1em 1em;
}

#about section p {
  text-indent: 2em;
}

#about section .toggler {
  display: inline-block;
  float: right;
  color: blue;
  cursor: pointer;
}

#about p code {
  background-color: #bbb;
  color: #33f;
  padding: 3px;
}

label {
  color: #ff8c00;
  font-weight: bold;
  cursor: pointer;
}

/* Launch dialog. */

#launch {
  position: fixed;
  top: 40%;
  left: 30%;
  padding: 3em 6em 3em 6em;
  background-color: #f3f3f3;
  border: 2px solid black;
  font-size: 100%;
  font-weight: bold;
}

/* Floaters that go over everything else. */

.floater {
  background-color: #f3f3f3;
  border: 2px solid black;
  padding: 10px;
  display: none;
  position: fixed;
  top: 4em;
  left: 4em;
  max-width: 80vw;
  max-height: 80vh;
  z-index: 1000;
}
