.printable-mainboard {
  position: relative;
  break-inside: avoid;
  margin-bottom: 60px;
  height: 500px;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.no-print {
  position: relative;
  display: block;
  margin-left: 50%;
  width: 200px;
  left: -100px;
}

p.printable-title {
  position: absolute;
  top: -20px;
  width: 300px;
  left: 520px;
  text-align: center;
}

body {
  display: flex;
  flex-flow: column;
}
